<nav>
    <a href="http://localhost:2024/main/">Início</a>
    <a href="http://localhost:2024/main/create">Criar Cadastro</a>
    <a href="http://localhost:2024/main/search">Procurar Cadastro</a>
</nav>