<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        {{>_navbar}}
    </div>
    <div class="conteudo">
        {{{body}}}
    </div>
    <script src="/index.js"></script>
</body>
</html>