* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

div.navbar {
    display: block;
    background-color: lightgreen;
    max-width: 500px;
    height: 300vh;
    float: left;
}

nav {
    padding: 20px;
}

nav > a {
    display: block;
    color: white;
    text-align: center;
    font-size: 26px;
    margin: 180px;
    text-decoration: none;
    transition: 0.4s;
}

nav > a:hover {
    font-size: 27px;
    text-decoration: underline;
    transition: 0.4s;
}

div.conteudo {
    display: block;
    margin: auto;
    width: calc(98vw - 500px);
    height: 100vh;
    float: right;
}

/* ----------------- */

div.index {
    color: lightgreen;
    margin: auto;
    height: 100vh;
}

div.index > h2 {
    text-align: center;
    padding: 30px;
}

div.index > h1 {
    font-size: 35px;
    text-align: center;
    padding: 30px;
}

div.cad {
    display: inline-block;
    background-color: lightgreen;
    color: white;
    width: 300px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid rgb(113, 255, 113);
    border-radius: 8px;
}

div.cad > h2 {
    font-size: 22px;
    padding: 10px;
}

div.cad > h3 {
    font-size: 18px;
    padding: 15px 12px;
}

/* ----------------- */

div.create {
    display: block;
    color: lightgreen;
    width: calc(90vw - 500px);
    padding: 30px;
    margin: auto;
}

div.create > h1 {
    text-align: center;
    font-size: 45px;
    padding: 30px;
    margin-top: 100px;
}

div.create > form {
    margin: auto;
    padding: 40px;
    margin-top: 50px;
}

div.create label {
    font-size: 24px;
    padding: 30px;
    margin: 30px 10px;
}

div.create input {
    font-size: 20px;
    color: lightgreen;
    width: 40vw;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid lightgreen;
    border-radius: 5px;
}

div.create button {
    background-color: lightgreen;
    font-size: 20px;
    color: white;
    width: 280px;
    padding: 20px;
    margin: 50px;
    border: 1px solid rgb(100, 255, 100);
    border-radius: 8px;
    transition: 0.4s;
}

div.create button:hover {
    background-color: rgb(123, 255, 123);
    color: rgb(164, 164, 164);
    transition: 0.4s;
}

/* ----------------- */

div.search {
    color: lightgreen;
    margin: auto;
}

div.search > h1 {
    display: inline-block;
    font-size: 50px;
    padding: 20px;
}

div.search > input {
    font-size: 20px;
    color: lightgreen;
    height: 50px;
    width: 40vw;
    padding: 12px;
    margin-top: 5px;
    border: 3px solid lightgreen;
    border-radius: 25px;
}