<div class="create">
    <h1>Cadastre um usuário:</h1>
    <form action="/main/create/new" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="age">Idade:</label>
        <input type="number" name="age" id="age">
        <br>
        <button type="submit">Cadastrar</button>
    </form>
</div>